<div class="center hero-unit">
  <h1>Welcome <%= @user['name'] if @user %> to The Big Drink</h1>

  <h2>
    A map of all the drinks and bars will go here soon!
  </h2>

	<%= link_to(Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_redirect_url),
		class: "btn btn-primary") do %>
		<i class="icon-user icon-white"> </i>
		Login
	<% end %>
</div>

<%= will_paginate @drinks %>

<ul class="thumbnails">
  	<%= render @drinks %>
</ul>

<%= will_paginate @drinks %>