<div class="drink-hover">
<div class="drink-actions">
  <% if !current_user %>

    <%= link_to "auth/facebook", class: "btn btn-mini btn-drank" do %>
      <i class="icon-ok"> </i>
	  Drank
	<% end %>
	
	<%= link_to "#", class: "btn btn-mini btn-want" do %>
	  <i class="icon-heart"></i>
	<% end %>
    
	<%= link_to "#", class: "btn btn-mini btn-comment" do %>
	<i class="icon-comment"> </i>
	  Comment
	<% end %>

  <% else %>
    <% if drink.drank_by?(current_user) %>

      <%= link_to "#", class: "btn btn-mini btn-drank disabled" do %>
        <i class="icon-ok"> </i>
	    Drank
	  <% end %>
	
	  <%= link_to "#", class: "btn btn-mini btn-want" do %>
	    <i class="icon-heart"></i>
	  <% end %>

	  <%= link_to "#", class: "btn btn-mini btn-comment" do %>
	  <i class="icon-comment"> </i>
	    Comment
	  <% end %>
    
    <% else %>
      <%= form_for(drink.consumptions.build(drinker_id: current_user.id, drank_id: drink.id), remote: true ) do |f| %>
	    <%= f.hidden_field :drinker_id %>
	    <%= f.hidden_field :drank_id %>
		<%= link_to "#", class: "btn btn-mini btn-drank", :onclick=>"$(this).closest('form').submit(); $(this).addClass('disabled'); return false;" do %>
	        <i class="icon-ok"> </i>
			Drank
		<% end %>
		
		<%= link_to "#", class: "btn btn-mini btn-want" do %>
	    <i class="icon-heart"></i>
	  	<% end %>
	
		<%= link_to "#", class: "btn btn-mini btn-comment" do %>
	  	  <i class="icon-comment"> </i>
	   	  Comment
	    <% end %>
	  <% end %>
	<% end %>
  <% end %>
</div>
</div>