<div class="drink-hover">
<div class="drink-actions">
  <% if !current_user %>

    <%= link_to "auth/facebook", class: "btn btn-mini btn-drank" do %>
      <i class="icon-check"> </i>
	  Drank
	<% end %>
	
	<%= link_to "auth/facebook", class: "btn btn-mini btn-like" do %>
	  <i class="icon-heart"></i>
	<% end %>
    
	<%= link_to "auth/facebook", class: "btn btn-mini btn-comment" do %>
	<i class="icon-comment"> </i>
	  Comment
	<% end %>

  <% else %>
    <% if drink.drank_by?(current_user) %>
	
	  <%= form_for(current_user.consumptions.find_by_drank_id(drink), remote: true,
				   html: {method: :delete, class: 'form-drink-actions'}) do |f| %>
		<%= link_to "#", class: "btn btn-mini btn-drank disabled", :onclick=>"$(this).closest('form').submit(); $(this).removeClass('disabled'); return false;" do %>
	        <i class="icon-check"> </i>
			Drink
		<% end %>
	  <% end %>
	
	<% else %>
	
      <%= form_for(drink.consumptions.build(drinker_id: current_user.id, drank_id: drink.id), remote: true, html: {class: 'form-drink-actions'}) do |f| %>
	    <%= f.hidden_field :drinker_id %>
	    <%= f.hidden_field :drank_id %>
		<%= link_to "#", class: "btn btn-mini btn-drank", :onclick=>"$(this).closest('form').submit(); $(this).addClass('disabled'); return false;" do %>
	        <i class="icon-check"> </i>
			Drank
		<% end %>
	  <% end %>
	
	<% end %>
	
	<% if drink.liked_by?(current_user) %>
		
	  <%= form_for(current_user.likes.find_by_liked_id(drink), remote: true,
				   html: {method: :delete, class: 'form-drink-actions'}) do |f| %>
		<%= link_to "#", class: "btn btn-mini btn-like disabled", :onclick=>"$(this).closest('form').submit(); $(this).removeClass('disabled'); return false;" do %>
	        <i class="icon-heart"> </i>
		<% end %>
	  <% end %>
	
	<% else %>
	
	  <%= form_for(drink.likes.build(liker_id: current_user.id, liked_id: drink.id), remote: true, html: {class: 'form-drink-actions'}) do |f| %>
	    <%= f.hidden_field :liker_id %>
	    <%= f.hidden_field :liked_id %>
		<%= link_to "#", class: "btn btn-mini btn-like", :onclick=>"$(this).closest('form').submit(); $(this).addClass('disabled'); return false;" do %>
	    <i class="icon-heart"></i>
	  	<% end %>
	
	  <% end %>
	<% end %>
	
	<%= link_to "#", class: "btn btn-mini btn-comment" do %>
	  <i class="icon-comment"> </i>
	  Comment
	<% end %>
	
  <% end %>
</div>
</div>