<%= provide(:title, 'Edit Drink') %>
<h1>Edit Drink</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@drink) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

	  <%= f.collection_select(:venue_id, Venue.all, :id, :name) %>

	  <%= image_tag @drink.drink_image.url if @drink.drink_image_uid %>
	  <%= f.file_field :drink_image %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Edit Drink", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>