<% provide(:title, @user.name.html_safe) %>
  <div class="span4 info-box">
	<%= image_tag("https://graph.facebook.com/#{@user.fb_uid}/picture?type=large",  class: "profile-pic") %>
	<h1><%= @user.name %></h1>
	has drank <strong><%= @user.drank_drinks.count %></strong> of <strong><%= Drink.count %></strong> drinks
	<div class="progress progress-info progress-striped active">
	  <div class="bar" style="width: <%= (@user.drank_drinks.count.to_f / Drink.count)*100 %>%;"></div>
	</div>
  </div>

  <% if @user.drank_drinks.any? %>
    <ol class="drinks">
      <%= render @user.drank_drinks %>
    </ol>
  <% end %>