<%= provide(:title, 'All Bars') %>

<div class="hero-unit">
	<%= gmaps4rails(@json) %>
</div>

<div class="well">
	
  <h1>Bars</h1>

  <%= will_paginate %>

  <ul class="venues">
    	<%= render @venues %>
  </ul>

  <%= will_paginate %>

</div>
