<% provide(:title, @venue.name) %>
<div class="row">
	<aside class="span4">
    	<section>
			<h1>
				<%= gmap_image_100(@venue) %>
				<%= @venue.name %>
			</h1>	
			<ul>
				<li>Foursquare ID: <%= @venue.foursquareID %></li>
				<li>LatLong: <%= @venue.lat %>, <%= @venue.long %></li>
			</ul>
		</section>
	</aside>
	<div class="span8">
	    <% if @venue.drinks.any? %>
	      <h3>Drinks (<%= @venue.drinks.count %>)</h3>
	      <ol class="drinks">
	        <%= render @drinks %>
	      </ol>
	      <%= will_paginate @drinks %>
	    <% end %>
	</div>
</div>