<% provide(:title, @venue.name.html_safe) %>
  <div class="span5 info-box">
    <%= image_tag @venue.venue_image.url if @venue.venue_image %>
	<p> <%= "Bar at #{@venue.address} in #{@venue.city}" if @venue.address %></p>
	<%= gmaps4rails(@json) %>
  </div>

  <div class="span3 info-box">
	<h5>Dudes that have been here:</h5>
	  <p></p>
  </div>

  <div class="span2 info-box">
	<h5>Drink lists: </h5>
	  <p></p>
  </div>

  <% if @venue.drinks.any? %>
    <ol class="drinks">
      <%= render @drinks %>
    </ol>
    <%= will_paginate @drinks %>
  <% end %>